<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive email layout.">
    <title>Email &ndash; Layout Examples &ndash; Pure</title>

    <link rel="stylesheet" href="/css/layouts/yo.css" integrity="sha384-" crossorigin="anonymous">

<style>
  .clickable {
   background: black;
   top:0;
   left: 0;
  }
  .proposal_link {
    background: white;
    z-index: 1;
    text-decoration: none;
  }

  .proposal_link:hover {
    background: rgb(37, 42, 58);
    z-index: 1;
    text-decoration: none;
    color: white;
  }

  .profile-pic:hover {
    opacity: .5;
  }

</style>

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/email-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="/css/layouts/email.css">
        <!--<![endif]-->

</head>
<body>

<div id="layout" class="content pure-g">
    <div id="nav" class="pure-u">
        <a href="#" class="nav-menu-button">Menu</a>

        <div class="nav-inner">
            <a href="<%= edit_admin_registration_path %>"><img src="<%= current_admin.avatar.url(:medium) %>" style="border-radius: 100%; height: 75px; width: 75px;" class="profile-pic"></a>
            <a href= <%=new_proposal_path %>><button class="primary-button pure-button">New Proposal</button></a>
            <div class="pure-menu">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="<%=crtv_path%>" class="pure-menu-link">Projects <span class="email-count">(<%= current_admin.proposals.size %>)</span></a></li>
                    <li class="pure-menu-heading">Sort By</li>
                    <li class="pure-menu-item"><a href="/crtv?sort=price_up" class="pure-menu-link"><span class="email-label-personal"></span>Price</a></li>
                    <li class="pure-menu-item"><a href="/crtv?sort=date_up" class="pure-menu-link"><span class="email-label-work"></span>Date<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a></li>
                    <li class="pure-menu-item"><a href="/crtv?sort=signed" class="pure-menu-link"><span class="email-label-travel"></span>Signed<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    <li class="pure-menu-item"><a href="/crtv?sort=unsigned" class="pure-menu-link"><span class="email-label-travel"></span>Not-Signed<span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></li>
                    <br>
                    <br>
                    <li class="pure-menu-item"><%= link_to "Sign Out", destroy_admin_session_path, method: "delete", class: "pure-menu-link" %></li>
                </ul>

            </div>
        </div>
    </div>
    <div id="list" class="pure-u-1">
<% if current_admin.proposals.size != 0 %>
        <% current_admin.proposals.each do |proposal| %>
        <div class="proposal_link">
        <a href="<%= proposal_path(proposal) %>">
                <div class="email-item pure-g">
                  <div class="pure-u-3-4">
                    <h5 class="email-name"><%= proposal.user.email %></h5>
                    <h4 class="email-subject"><%= proposal.title %></h4>
                    <p class="email-desc">
                        The "<%= proposal.title %>" budget for <%= proposal.user.email %> is <%= number_to_currency(proposal.budget)%>.
                    </p>
                </div>
            </div>
      </a>
    </div>
      <% end %>
    </div>

    <div id="main" class="pure-u-1">
        <div class="email-content">
            <div class="email-content-header pure-g">
                <div class="pure-u-1-2">
                    <h1 class="email-content-title">Welcome to Proposal.io</h1>
                    <p class="email-content-subtitle">
                        From <a>the CEO</a> at <span><%= Time.now.strftime("%l:%M %p - %A, %b %e") %></span>
                    </p>
                </div>
            </div>

            <div class="email-content-body">
              <div class="email-content-body">

                  TOTAL EARNED TO DATE
                  <br><br>
                    <%= Proposal.total_earned(@current_admin) %>
                  <br><br>

                  TOTAL NUMBER OF PROJECTS

                  <br><br>
                    <%= Proposal.total_projects(@current_admin) %>
                  <br><br>

                  CLIENT LIST

                  <br><br>
                    <ul>
                      <% Proposal.clients(@current_admin).each do |t| %>
                        <% if t.first_name != "" || t.last_name != "" %>
                          <li><%= t.first_name %> <%= t.last_name %></li>
                        <% else %>
                          <li><%= t.email %></li>
                        <% end %>
                      <% end %>
                  <br><br>

              </div>
            </div>
        </div>
    </div>
</div>

<script src="https://yui-s.yahooapis.com/3.18.1/build/yui/yui-min.js"></script>
<script>
    YUI().use('node-base', 'node-event-delegate', function (Y) {

        var menuButton = Y.one('.nav-menu-button'),
            nav        = Y.one('#nav');

        // Setting the active class name expands the menu vertically on small screens.
        menuButton.on('click', function (e) {
            nav.toggleClass('active');
        });

        // Your application code goes here...

    });
</script>

<% else %>
      <div class="proposal_link">
      <a href="<%= new_proposal_path %>">
        <div class="email-item pure-g">
          <div class="pure-u-3-4">
            <h5 class="email-name"> CEO@proposal.io</h5>
            <h4 class="email-subject"> Create Your First Proposal</h4>
            <p class="email-desc">
                See that blue button to the left? Click it to create your first Proposal....
          </div>
        </div>
      </a>
      </div>
      </div>

      <div id="main" class="pure-u-1">
      <div class="email-content">
          <div class="email-content-header pure-g">
              <div class="pure-u-1-2">
                  <h1 class="email-content-title">Welcome to Your Dashboard</h1>
              </div>
          </div>

          <div class="email-content-body">

              TOTAL EARNED TO DATE
                <%= Proposal.total_earned %>
              TOTAL NUMBER OF PROJECTS

              CLIENT LIST

          </div>
      </div>
      </div>

      <script src="https://yui-s.yahooapis.com/3.18.1/build/yui/yui-min.js"></script>
      <script>
      YUI().use('node-base', 'node-event-delegate', function (Y) {

      var menuButton = Y.one('.nav-menu-button'),
          nav        = Y.one('#nav');

      // Setting the active class name expands the menu vertically on small screens.
      menuButton.on('click', function (e) {
          nav.toggleClass('active');
      });

      // Your application code goes here...

      });
      </script>


<% end %>

</body>
</html>
