
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/email-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="/css/layouts/email-2.css">
        <!--<![endif]-->

</head>

<body>

  <%= form_for :proposal, method: "patch" do |t| %>

<div id="layout" class="content pure-g">
    <div id="nav" class="pure-u">
        <a href="#" class="nav-menu-button">Menu</a>

        <div class="nav-inner">

            <a href= <%=new_proposal_path %>><button class="primary-button pure-button">New Proposal</button></a>
            <div class="pure-menu">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="<%= crtv_path %>" class="pure-menu-link">Projects <span class="email-count">(<%= @proposals.size %>)</span></a></li>

                    <li class="pure-menu-heading">Labels</li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-personal"></span>Personal</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-work"></span>Work</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-travel"></span>Travel</a></li>
                    <br>
                    <br>
                    <li class="pure-menu-item"><%= link_to "Sign Out", destroy_admin_session_path, method: "destroy", class: "pure-menu-link" %></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="list" class="pure-u-1">
      <% if @proposals.size != 0 %>
        <% @proposals.each do |proposal| %>
        <div class="proposal_link">
        <a href="<%= proposal_path(proposal) %>">
              <% if params[:id].to_i == proposal.id %>
                <div class="email-item email-item-selected pure-g">
                  <div class="pure-u-3-4">
                    <h5 class="email-name"><%= proposal.user.email %></h5>
                    <h4 class="email-subject"><%= proposal.title %></h4>
                    <p class="email-desc">
                          The Budget for the "Logo & Branding" of Pepsi Co. will be $450.
                    </p>
                  </div>
                </div>
              <% else %>
                <div class="email-item pure-g">
                  <div class="pure-u-3-4">
                    <h5 class="email-name"><%= proposal.user.email %></h5>
                    <h4 class="email-subject"><%= proposal.title %></h4>
                    <p class="email-desc">
                        The Budget for the "Logo & Branding" of Pepsi Co. will be $450.
                    </p>
                 </div>
               </div>
              <% end %>
      </a>
    </div>
      <% end %>
    </div>

    <div id="main" class="pure-u-1">
        <div class="email-content">
            <div class="email-content-header pure-g">
                <div class="pure-u-1-2">
                    <h1 class="email-content-title"><%= @proposal.title %></h1>
                    <p class="email-content-subtitle">
                        Prepared for <a><%= @proposal.email %></a> at <span><%= Time.now.strftime("%l:%M %p - %A, %b %e") %></span>
                    </p>
                </div>

                <div class="email-content-controls pure-u-1-2">
                    <button class="secondary-button pure-button">Reply</button>
                    <button class="secondary-button pure-button">Forward</button>
                    <button class="secondary-button pure-button"><%= link_to "Delete Proposal", proposal_path(@proposal), method: "delete"  %></button>
                </div>
            </div>
              <div class="email-content-body">

                <table class="full-width-container" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" bgcolor="#eeeeee" style="width: 100%; height: 100%; padding: 30px 0 30px 0;">
            			<tr>
            				<td align="center" valign="top">
            					<!-- / 700px container -->
            					<table class="container" border="0" cellpadding="0" cellspacing="0" width="700" bgcolor="#ffffff" style="width: 700px;">
            						<tr>
            							<td align="center" valign="top">
            								<!-- / Header -->
            								<table class="container header" border="0" cellpadding="0" cellspacing="0" width="620" style="width: 620px;">
            									<tr>
            										<td style="padding: 30px 0 30px 0; border-bottom: solid 1px #eeeeee;" align="left">
            											<a href="#" style="font-size: 30px; text-decoration: none; color: #000000;">
                                      <%= @proposal.user.admin.first_name[0] %><%= @proposal.user.admin.last_name[0] %>
                                  </a>
            										</td>
            									</tr>
            								</table>
            								<!-- /// Header -->

                            <table class="container" border="0" cellpadding="0" cellspacing="0" width="620" style="width: 620px;">
                              <td style="border-bottom: solid 1px #eeeeee; padding: 35px 0 18px 0; font-size: 26px;" align="left">Milestones</td>
                            </table>

                            <table class="container" border="0" cellpadding="0" cellspacing="0" width="620" style="width: 620px;">
                              <tr>
                                <th style="text-align: left; padding-top:10px;">Milestone</th>
                                <th style="text-align: left; padding-top:10px;">Due Date</th>
                              </tr>



                            <% @proposal.milestones.each.with_index(1) do |milestone, i| %>
                                <tr style="background:rgba(46, 237, 137, .1);">
                                    <%= t.fields_for :milestones, milestone do |milestone_builder| %>
                                  <td><%= i%>. <%= milestone_builder.text_field :content %></td>
                                  <td><%= milestone_builder.text_field :due_date%></td>
                                  <% end %>
                                </tr>
                            <% end %>


                            </table>
                            <table class="container" border="0" cellpadding="0" cellspacing="0" width="620" style="width: 620px;">
                              <td style="border-bottom: solid 1px #eeeeee; padding: 35px 0 18px 0; font-size: 26px;" align="left">Pricing Breakdown</td>
                            </table>

                            <table class="container" border="0" cellpadding="0" cellspacing="0" width="620" style="width: 620px;">
                              <tr>
                                <th style="text-align: left; padding-top:10px;">Deliverable</th>
                                <th style="text-align: left; padding-top:10px;">Price</th>
                              </tr>

                            <% @proposal.fees.each.with_index(1) do |fee, i| %>
                              <%= t.fields_for :fees, fee do |fee_builder| %>
                                <tr style="background:rgba(46, 237, 137, .1);">
                                  <td><%= i%>. <%=  fee_builder.text_field :content %></td>
                                  <td>$<%= fee_builder.number_field :price_breakdown %></td>
                                </tr>
                              <% end %>
                              <% end %>



                              <tr style="font-weight: bold;">
                                <b><td style="padding-top: 10px;">Total - $<%= @proposal.budget %></td></b>
                              </tr>
                            </table>


            								<!-- /// Paragraph -->


            								<!-- / Divider -->
            								<table class="container" border="0" cellpadding="0" cellspacing="0" width="100%" style="padding-top: 25px;" align="center">
            									<tr>
            										<td align="center">
            											<table class="container" border="0" cellpadding="0" cellspacing="0" width="620" align="center" style="border-bottom: solid 1px #eeeeee; width: 620px;">
            												<tr>
            													<td align="center">&nbsp;</td>
            												</tr>
            											</table>
            										</td>
            									</tr>
            								</table>
            								<!-- /// Divider -->

            								<!-- / CTA Block -->
            								<table class="container cta-block" border="0" cellpadding="0" cellspacing="0" width="100%">
            									<tr>
            										<td align="center" valign="top">
            											<table class="container" border="0" cellpadding="0" cellspacing="0" width="620" style="width: 620px;">
            												<tr>
            													<td class="cta-block__title" style="padding: 35px 0 0 0; font-size: 26px; text-align: center;">Signatures</td>
            												</tr>

            												<tr>
            													<td class="cta-block__content" style="padding: 20px 0 27px 0; font-size: 16px; line-height: 27px; color: #969696; text-align: center;">
                                      By clicking the button below, you are agreeing with any and all statements found within this Proposal. You agree to hold your designer accountable for the deliverable/milestones mentioned and they in return will hold you, as the client, accountable for completing all required payments within the specified timeframes. In addition you agree to pay at least 50% of the Proposal Budget upfront as a deposit.</td>
            												</tr>

            												<tr>
            													<td align="center">
            														<table class="container" border="0" cellpadding="0" cellspacing="0">
            															<tr>
            																<td class="cta-block__button" width="230" align="center" style="width: 200px;">

                                              <div style="border: 3px solid; color: #969696; text-decoration: none; padding: 15px 45px; text-transform: uppercase; display: block; text-align: center; font-size: 16px;">
                                                <%= form_tag({controller: "proposals", action: "sign_check"}, method: "post") do %>
                                                  <%= label_tag :signer, "First & Last Name"%>
                                                  <%= text_field_tag :signer %>
                                                  <br><br>
                                                  <%= label_tag :agree, "I agree"%>
                                                  <%= check_box_tag :agree %>
                                                  <br><br>
                                                  <%= submit_tag("Sign Now") %>
                                                <% end %>
                                              </div>

                                            </td>
            															</tr>
            														</table>
            													</td>
            												</tr>
            											</table>
            										</td>
            									</tr>
            								</table>
                            <br>
                            <br>

            							</td>
            						</tr>
            					</table>
            				</td>
            			</tr>
            		</table>
              </div>
            </div>

           </div>
        </div>
    </div>
</div>


<% end %>
<% end %>
</body>
